/ExerciciosJava/nbproject/private/
/ExerciciosJava/build/
/OlaMundo/nbproject/private/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/JavaApplication5/nbproject/private/
/OlaMundo/build/
/DataSistema/nbproject/private/
/DataSistema/build/
