/ExerciciosJava/nbproject/private/
/ExerciciosJava/build/
/OlaMundo/nbproject/private/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/JavaApplication5/nbproject/private/
/OlaMundo/build/
/DataSistema/nbproject/private/
/DataSistema/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJFX/nbproject/private/
/ExerciciosJava/OlaMundoJFX/nbproject/private/
/ExerciciosJava/OlaMundoJFX/build/
/ExerciciosJava/RelogioSwing/nbproject/private/
/ExerciciosJava/RelogioSwing/build/
/ExerciciosJava/IdiomaSwing/nbproject/private/
/ExerciciosJava/IdiomaSwing/build/
/ExerciciosJava/ResolucaoSwing/nbproject/private/
/ExerciciosJava/ResolucaoSwing/build/
/ExerciciosJava/TiposPrimitivos/nbproject/private/
/ExerciciosJava/TiposPrimitivos/build/
/ExerciciosJava/TesteTipos/nbproject/private/
/ExerciciosJava/TesteTipos/build/
/ExerciciosJava/SomaSwing/nbproject/private/
/ExerciciosJava/SomaSwing/build/
/ExerciciosJava/CalculadoraIdade/nbproject/private/
/ExerciciosJava/CalculadoraIdade/build/
/ExerciciosJava/OperadoresAritmeticos/nbproject/private/
/ExerciciosJava/OperadoresAritmeticos/build/
/ExerciciosJava/OperadoresSwing/nbproject/private/
/ExerciciosJava/OperadoresSwing/build/
/ExerciciosJava/SuperCalculadora/nbproject/private/
/ExerciciosJava/SuperCalculadora/build/
/ExerciciosJava/OperadorTernario/nbproject/private/
/ExerciciosJava/OperadorTernario/build/
/ExerciciosJava/ComparaçãoString/nbproject/private/
/ExerciciosJava/ComparaçãoString/build/
/ExerciciosJava/OperadoresLogicos/nbproject/private/
/ExerciciosJava/OperadoresLogicos/build/
/ExerciciosJava/VerificadorIdadeSwing/nbproject/private/
/ExerciciosJava/VerificadorIdadeSwing/build/
